site_name: Anil Bharadia
theme:
  name: material
  features:
    - navigation.instant
    - content.code.annotate 
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      
nav:
  - Git: git.md
  - How I applied for German PR: german_pr_application.md
  - Colouring Page: colouring-page.html
  - German:
    - Kasus: german/kasus.md
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
repo_url: https://github.com/anilbharadia/anilbharadia.github.io
# plugins:
#   - search
#   - git-revision-date-localized:
#       enable_creation_date: true
